#imageContainer {
	height:450px;
}


#imageContainer img {
	display:none;
	position:absolute;
	top:0; left:0;
}

/* Media Queries below 375px */
@media (max-width: 411px) {
  #imageContainer {
    height: 200px;
  }
}


